In [50]:
import pandas as pd
import numpy as np

In [51]:
oo = pd.read_csv('/home/alex/Olympics.csv', skiprows=4)

In [52]:
ath_usa = oo[oo.NOC == 'USA']
grouped = ath_usa.groupby(['Edition', 'Athlete', 'Sport', 'Discipline', 'Medal']).size().unstack('Medal', fill_value=0)

In [53]:
grouped['Total'] = grouped['Gold'] + grouped['Bronze'] + grouped['Silver']
grouped

Medal                                                        Bronze  Gold  \
Edition Athlete                  Sport      Discipline
1896    BLAKE, Arthur            Athletics  Athletics             0     0
        BURKE, Thomas            Athletics  Athletics             0     2
        CLARK, Ellery            Athletics  Athletics             0     2
        CONNOLLY, James          Athletics  Athletics             1     1
        CURTIS, Thomas           Athletics  Athletics             0     1
        GARRETT, Robert          Athletics  Athletics             0     2
        HOYT, William Welles     Athletics  Athletics             0     1
        JAMISON, Herbert         Athletics  Athletics             0     0
        LANE, Francis            Athletics  Athletics             1     0
        PAINE, John              Shooting   Shooting              0     1
        PAINE, Sumner            Shooting   Shooting              0     1
        TYLER, Albert            Athletics  Athletics             0     0
1900    ABBOTT, Margaret Ives    Golf       Golf                  0     1
        ABELL, Louis             Rowing     Rowing                0     1
        BAXTER, Irving           Athletics  Athletics             0     2
        BRAY, John               Athletics  Athletics             1     0
        CARR, William            Rowing     Rowing                0     1
        COLKETT, Meredith Bright Athletics  Athletics             0     0
        CONNOLLY, James          Athletics  Athletics             0     0
        CREGAN, John             Athletics  Athletics             0     0
        DEBAECKE, Harry          Rowing     Rowing                0     1
        EWRY, Ray                Athletics  Athletics             0     3
        EXLEY, John              Rowing     Rowing                0     1
        FLANAGAN, John Jesus     Athletics  Athletics             0     1
        GARRETT, Robert          Athletics  Athletics             2     0
        GEIGER, John             Rowing     Rowing                0     1
        HALL, David              Athletics  Athletics             1     0
        HARE, Thomas Truxton     Athletics  Athletics             0     0
        HEDLEY, Edward           Rowing     Rowing                0     1
        HOLLAND, William         Athletics  Athletics             0     0
...                                                             ...   ...
2008    VANDERKAAY, Peter        Aquatics   Swimming              1     1
        VARELLAS, Peter          Aquatics   Water polo            0     0
        VENDT, Erik              Aquatics   Swimming              0     1
        VILLA, Brenda            Aquatics   Water polo            0     0
        VOLPENHEIN, Bryan        Rowing     Rowing                1     0
        WADE, Dwyane             Basketball Basketball            0     1
        WAGNER, Aly              Football   Football              0     1
        WALSH, Daniel            Rowing     Rowing                1     0
        WALSH, Kerri             Volleyball Beach volley.         0     1
        WALTERS, David           Aquatics   Swimming              0     1
        WARD, Becca              Fencing    Fencing               2     0
        WARD, Mclain             Equestrian Jumping               0     1
        WARINER, Jeremy          Athletics  Athletics             0     1
        WATLEY, Natasha          Softball   Softball              0     0
        WEATHERS, Casey          Baseball   Baseball              1     0
        WEBER-GALE, Garrett      Aquatics   Swimming              0     2
        WENGER, Lauren           Aquatics   Water polo            0     0
        WHEELER, Adam            Wrestling  Wrestling Gre-R       1     0
        WHIPPLE, Mary            Rowing     Rowing                0     1
        WILDER, Deontay          Boxing     Boxing                1     0
        WILDMAN-TOBRINER, Ben    Aquatics   Swimming              0     1
        WILLIAMS, Deron          Basketball Basketball            0     1
        WILLIAMS, James          Fencing    Fencing               0     0
        WILLIAMS, Serena         Tennis     Tennis                0     1
        WILLIAMS, Venus          Tennis     Tennis                0     1
        WILLOUGHBY, Kim          Volleyball Volleyball            0     0
        WINDES, Elsie            Aquatics   Water polo            0     0
        WINEBERG, Mary           Athletics  Athletics             0     1
        WRIGHT, Adam             Aquatics   Water polo            0     0
        ZAGUNIS, Mariel          Fencing    Fencing               1     1

Medal                                                        Silver  Total
Edition Athlete                  Sport      Discipline
1896    BLAKE, Arthur            Athletics  Athletics             1      1
        BURKE, Thomas            Athletics  Athletics             0      2
        CLARK, Ellery            Athletics  Athletics             0      2
        CONNOLLY, James          Athletics  Athletics             1      3
        CURTIS, Thomas           Athletics  Athletics             0      1
        GARRETT, Robert          Athletics  Athletics             2      4
        HOYT, William Welles     Athletics  Athletics             0      1
        JAMISON, Herbert         Athletics  Athletics             1      1
        LANE, Francis            Athletics  Athletics             0      1
        PAINE, John              Shooting   Shooting              0      1
        PAINE, Sumner            Shooting   Shooting              1      2
        TYLER, Albert            Athletics  Athletics             1      1
1900    ABBOTT, Margaret Ives    Golf       Golf                  0      1
        ABELL, Louis             Rowing     Rowing                0      1
        BAXTER, Irving           Athletics  Athletics             3      5
        BRAY, John               Athletics  Athletics             0      1
        CARR, William            Rowing     Rowing                0      1
        COLKETT, Meredith Bright Athletics  Athletics             1      1
        CONNOLLY, James          Athletics  Athletics             1      1
        CREGAN, John             Athletics  Athletics             1      1
        DEBAECKE, Harry          Rowing     Rowing                0      1
        EWRY, Ray                Athletics  Athletics             0      3
        EXLEY, John              Rowing     Rowing                0      1
        FLANAGAN, John Jesus     Athletics  Athletics             0      1
        GARRETT, Robert          Athletics  Athletics             0      2
        GEIGER, John             Rowing     Rowing                0      1
        HALL, David              Athletics  Athletics             0      1
        HARE, Thomas Truxton     Athletics  Athletics             1      1
        HEDLEY, Edward           Rowing     Rowing                0      1
        HOLLAND, William         Athletics  Athletics             1      1
...                                                             ...    ...
2008    VANDERKAAY, Peter        Aquatics   Swimming              0      2
        VARELLAS, Peter          Aquatics   Water polo            1      1
        VENDT, Erik              Aquatics   Swimming              0      1
        VILLA, Brenda            Aquatics   Water polo            1      1
        VOLPENHEIN, Bryan        Rowing     Rowing                0      1
        WADE, Dwyane             Basketball Basketball            0      1
        WAGNER, Aly              Football   Football              0      1
        WALSH, Daniel            Rowing     Rowing                0      1
        WALSH, Kerri             Volleyball Beach volley.         0      1
        WALTERS, David           Aquatics   Swimming              0      1
        WARD, Becca              Fencing    Fencing               0      2
        WARD, Mclain             Equestrian Jumping               0      1
        WARINER, Jeremy          Athletics  Athletics             1      2
        WATLEY, Natasha          Softball   Softball              1      1
        WEATHERS, Casey          Baseball   Baseball              0      1
        WEBER-GALE, Garrett      Aquatics   Swimming              0      2
        WENGER, Lauren           Aquatics   Water polo            1      1
        WHEELER, Adam            Wrestling  Wrestling Gre-R       0      1
        WHIPPLE, Mary            Rowing     Rowing                0      1
        WILDER, Deontay          Boxing     Boxing                0      1
        WILDMAN-TOBRINER, Ben    Aquatics   Swimming              0      1
        WILLIAMS, Deron          Basketball Basketball            0      1
        WILLIAMS, James          Fencing    Fencing               1      1
        WILLIAMS, Serena         Tennis     Tennis                0      1
        WILLIAMS, Venus          Tennis     Tennis                0      1
        WILLOUGHBY, Kim          Volleyball Volleyball            1      1
        WINDES, Elsie            Aquatics   Water polo            1      1
        WINEBERG, Mary           Athletics  Athletics             0      1
        WRIGHT, Adam             Aquatics   Water polo            1      1
        ZAGUNIS, Mariel          Fencing    Fencing               0      2

[3564 rows x 4 columns]

In [54]:
index = ['Edition', 'Athlete', 'Sport', 'Discipline', 'Bronze', 'Gold', 'Silver', 'Total']

In [55]:
gr = grouped.reset_index(col_fill=index)
del gr.columns.name
gr

,Edition,Athlete,Sport,Discipline,Bronze,Gold,Silver,Total
0,1896,"BLAKE, Arthur",Athletics,Athletics,0,0,1,1
1,1896,"BURKE, Thomas",Athletics,Athletics,0,2,0,2
2,1896,"CLARK, Ellery",Athletics,Athletics,0,2,0,2
3,1896,"CONNOLLY, James",Athletics,Athletics,1,1,1,3
4,1896,"CURTIS, Thomas",Athletics,Athletics,0,1,0,1
5,1896,"GARRETT, Robert",Athletics,Athletics,0,2,2,4
6,1896,"HOYT, William Welles",Athletics,Athletics,0,1,0,1
7,1896,"JAMISON, Herbert",Athletics,Athletics,0,0,1,1
8,1896,"LANE, Francis",Athletics,Athletics,1,0,0,1
9,1896,"PAINE, John",Shooting,Shooting,0,1,0,1
10,1896,"PAINE, Sumner",Shooting,Shooting,0,1,1,2
11,1896,"TYLER, Albert",Athletics,Athletics,0,0,1,1
12,1900,"ABBOTT, Margaret Ives",Golf,Golf,0,1,0,1
13,1900,"ABELL, Louis",Rowing,Rowing,0,1,0,1
14,1900,"BAXTER, Irving",Athletics,Athletics,0,2,3,5
15,1900,"BRAY, John",Athletics,Athletics,1,0,0,1
16,1900,"CARR, William",Rowing,Rowing,0,1,0,1
17,1900,"COLKETT, Meredith Bright",Athletics,Athletics,0,0,1,1
18,1900,"CONNOLLY, James",Athletics,Athletics,0,0,1,1
19,1900,"CREGAN, John",Athletics,Athletics,0,0,1,1
20,1900,"DEBAECKE, Harry",Rowing,Rowing,0,1,0,1
21,1900,"EWRY, Ray",Athletics,Athletics,0,3,0,3
22,1900,"EXLEY, John",Rowing,Rowing,0,1,0,1
23,1900,"FLANAGAN, John Jesus",Athletics,Athletics,0,1,0,1
24,1900,"GARRETT, Robert",Athletics,Athletics,2,0,0,2
25,1900,"GEIGER, John",Rowing,Rowing,0,1,0,1
26,1900,"HALL, David",Athletics,Athletics,1,0,0,1
27,1900,"HARE, Thomas Truxton",Athletics,Athletics,0,0,1,1
28,1900,"HEDLEY, Edward",Rowing,Rowing,0,1,0,1
29,1900,"HOLLAND, William",Athletics,Athletics,0,0,1,1
...,...,...,...,...,...,...,...,...
3534,2008,"VANDERKAAY, Peter",Aquatics,Swimming,1,1,0,2
3535,2008,"VARELLAS, Peter",Aquatics,Water polo,0,0,1,1
3536,2008,"VENDT, Erik",Aquatics,Swimming,0,1,0,1
3537,2008,"VILLA, Brenda",Aquatics,Water polo,0,0,1,1
3538,2008,"VOLPENHEIN, Bryan",Rowing,Rowing,1,0,0,1
3539,2008,"WADE, Dwyane",Basketball,Basketball,0,1,0,1
3540,2008,"WAGNER, Aly",Football,Football,0,1,0,1
3541,2008,"WALSH, Daniel",Rowing,Rowing,1,0,0,1
3542,2008,"WALSH, Kerri",Volleyball,Beach volley.,0,1,0,1
3543,2008,"WALTERS, David",Aquatics,Swimming,0,1,0,1
3544,2008,"WARD, Becca",Fencing,Fencing,2,0,0,2
3545,2008,"WARD, Mclain",Equestrian,Jumping,0,1,0,1
3546,2008,"WARINER, Jeremy",Athletics,Athletics,0,1,1,2
3547,2008,"WATLEY, Natasha",Softball,Softball,0,0,1,1
3548,2008,"WEATHERS, Casey",Baseball,Baseball,1,0,0,1
3549,2008,"WEBER-GALE, Garrett",Aquatics,Swimming,0,2,0,2
3550,2008,"WENGER, Lauren",Aquatics,Water polo,0,0,1,1
3551,2008,"WHEELER, Adam",Wrestling,Wrestling Gre-R,1,0,0,1
3552,2008,"WHIPPLE, Mary",Rowing,Rowing,0,1,0,1
3553,2008,"WILDER, Deontay",Boxing,Boxing,1,0,0,1
3554,2008,"WILDMAN-TOBRINER, Ben",Aquatics,Swimming,0,1,0,1
3555,2008,"WILLIAMS, Deron",Basketball,Basketball,0,1,0,1
3556,2008,"WILLIAMS, James",Fencing,Fencing,0,0,1,1
3557,2008,"WILLIAMS, Serena",Tennis,Tennis,0,1,0,1
3558,2008,"WILLIAMS, Venus",Tennis,Tennis,0,1,0,1
3559,2008,"WILLOUGHBY, Kim",Volleyball,Volleyball,0,0,1,1
3560,2008,"WINDES, Elsie",Aquatics,Water polo,0,0,1,1
3561,2008,"WINEBERG, Mary",Athletics,Athletics,0,1,0,1
3562,2008,"WRIGHT, Adam",Aquatics,Water polo,0,0,1,1
3563,2008,"ZAGUNIS, Mariel",Fencing,Fencing,1,1,0,2

In [56]:
def maximum(gr, column='Total'):
    m = max(gr.Total)
    for i in gr.index:
        if gr.Total[i] == m:
            return gr.loc[i]
maximum(gr)

Edition                  2004
Athlete       PHELPS, Michael
Sport                Aquatics
Discipline           Swimming
Bronze                      2
Gold                        6
Silver                      0
Total                       8
Name: 3241, dtype: object

In [57]:
result = gr.groupby('Edition').apply(maximum)
result = result.rename_axis('Idx')
result = result.reset_index(drop=True)
result

,Edition,Athlete,Sport,Discipline,Bronze,Gold,Silver,Total
0,1896,"GARRETT, Robert",Athletics,Athletics,0,2,2,4
1,1900,"BAXTER, Irving",Athletics,Athletics,0,2,3,5
2,1904,"DOWNING, Burton",Cycling,Cycling Track,1,2,3,6
3,1908,"SHEPPARD, Melvin",Athletics,Athletics,0,3,0,3
4,1912,"OSBURN, Carl Townsend",Shooting,Shooting,1,1,2,4
5,1920,"LEE, Willis",Shooting,Shooting,1,5,1,7
6,1924,"EDERLE, Gertrude",Aquatics,Swimming,2,1,0,3
7,1928,"BARBUTI, Raymond James",Athletics,Athletics,0,2,0,2
8,1932,"DIDRIKSON, Mildred",Athletics,Athletics,0,2,1,3
9,1936,"OWENS, Jesse",Athletics,Athletics,0,4,0,4
10,1948,"CURTIS, Ann Elisabeth",Aquatics,Swimming,0,2,1,3
11,1952,"KONNO, Ford Hiroshi",Aquatics,Swimming,0,2,1,3
12,1956,"BAKER, Walter Thane",Athletics,Athletics,1,1,1,3
13,1960,"VON SALTZA, Susan Christina",Aquatics,Swimming,0,3,1,4
14,1964,"ELLIS, Kathleen",Aquatics,Swimming,2,2,0,4
15,1968,"HENNE, Jane Margo",Aquatics,Swimming,1,2,1,4
16,1972,"SPITZ, Mark",Aquatics,Swimming,0,7,0,7
17,1976,"BABASHOFF, Shirley Farber",Aquatics,Swimming,0,1,4,5
18,1984,"RETTON, Mary-Lou",Gymnastics,Artistic G.,2,1,2,5
19,1988,"BIONDI, Matthew",Aquatics,Swimming,1,5,1,7
20,1992,"MILLER, Shannon",Gymnastics,Artistic G.,3,0,2,5
21,1996,"HALL, Gary Jr.",Aquatics,Swimming,0,2,2,4
22,2000,"TORRES, Dara",Aquatics,Swimming,3,2,0,5
23,2004,"PHELPS, Michael",Aquatics,Swimming,2,6,0,8
24,2008,"PHELPS, Michael",Aquatics,Swimming,0,8,0,8